.article-visual {
  display: flex;
  flex-direction: column;
}
.header-visual {
  display: flex;
  align-items: stretch;
  z-index: 2;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  height: 40px;
}
.header-content-visual {
  padding: 0.5rem 0.5rem;
}
.heading-visual {
  font-weight: bold;
}
.close-button-visual {
  padding-top: 0.4rem;
  padding-right: 0.8rem;
}
.visual-charts {
  display: flex;
  width: 100%;
  height: 240px;
}
.visual-pie {
  width: 50%;
  margin-left: 10px;
}
.visual-pie-rose {
  margin-left: 30px;
  width: 50%;
}